@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
* {
    margin: 0 auto;
    font-family: 'Macondo', cursive;
}
/* overall tags */
/* ========================================================================== */
body{
    padding-top: 20px;
}

h1 { 
    margin-top: 50px;
    margin-left: 10px;
}

h2 {
    font-size: 15pt;
}

h3 {
    font-size: 15pt;
    padding-top: 20px;
    margin-left: 5px;
}

h4 {
    font-size: 12pt;
    margin-left: 5px;
}

/* container class for usercard */
/* ========================================================================== */

.usercard {
    width: 750px;
    height: 340px;
    border-style: outset;
    border-color: rgb(243, 152, 199);
    background-image: linear-gradient(white,#AB46D2);
    border-width: 4px;
}

/* info for top of the usercard */

.topinfo {
    background: rebeccapurple;
    height: 80px;
}

.topinfo img {
    height: 100%;
    display: flex;

}

.profpic {
    width: 110px;
    height: 110px;
    background-color: rebeccapurple;
    border-radius: 50%;
    position: fixed;
    margin: 19px;
}

.profpic img{
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}

/* classes below the top bar of container */
/* ========================================================================== */

.location {
    width: 230px;
    height: 20px;
    margin: 0;
    padding-right: 5px;
    display: flex;
}

.location img {
    width: 20px;
    padding-left: 3px;
}

.firstline {
    margin-top: 10px;
}

.lastline {
    padding-bottom: 30px;
}

.editprof {
    margin: 0;
    width: 120px;
    display: flex;
    align-items: center;
}

.editprof img {
    width: 30px;
}